<h1 class="display-4 text-capitalize text-center bg-info text-white pt-3 border border-primary"><%= @flashcard.name %> </h1><br>    

<p class="text-monospace text-center font-weight-bold"> <%= @flashcard.definition %></p>

<h4 class="text-monospace text-center font-weight-bold text-capitalize">Deck: <%= link_to @flashcard.deck.name, deck_path(@flashcard.deck) if @flashcard.deck %></h4>
<div class="text-weight-bold text-center text-primary font-weight-bold pt-3"> <%= link_to "Update Flashcard", edit_flashcard_path(@flashcard), class: "btn btn-outline-info" %></div><br>
<div class="row justify-content-center"><%= button_to 'Delete Flashcard', @flashcard, method: :delete, class: "btn btn-outline-danger"%></div>   


<div class= "card justify-content-center"> 
  
    <div class= "card-body" style= "width :20em;">
        <div class="card-header h2 "><%= link_to @flashcard.deck.name, deck_path(@flashcard.deck) if @flashcard.deck%> </div>
        <h4 class="card-title"><%= @flashcard.name %> </h4>
    
        <p class="card-text text-monospace"><%= @flashcard.definition %></p>
        <div class="card-footer"> 
        <div class="row justify-content-center"><%= button_to 'Delete Flashcard', @flashcard, method: :delete, class: "btn btn-outline-danger"%></div>   
        </div>
    </>
</div>