<h1 class="display-4 text-capitalize text-center bg-info text-white pt-3 border border-primary"><%= @flashcard.name %> </h1><br>    
<div class="d-flex justify-content-center">

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<div class= "card justify-content-center"> 
  
    <div class= "card-body" style= "width :20em;">
        <div class="card-header h2 "><%= link_to @flashcard.deck.name, deck_path(@flashcard.deck) if @flashcard.deck%> </div>
        <h4 class="card-title"><%= @flashcard.name %> </h4>
    
        <p class="card-text text-monospace"><%= @flashcard.definition %></p>
        <div class="card-footer"> 
        <div class="row justify-content-center"><%= button_to 'Delete Flashcard', @flashcard, method: :delete, class: "btn btn-outline-danger"%></div>   
        </div>

</div>
</div>