<% if @deck.errors.any? %>
  <div id="error_explanation ">
    <h2 class="text-center text-danger">
      <%= pluralize(@deck.errors.count, "error") %>
      prohibited this deck from being saved:
    </h2>
 
    <ul>
    <% @deck.errors.full_messages.each do |msg| %>
      <li class= "h4 list-unstyled text-center text-danger"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<p class="text-center"><%= form_for(@deck) do |f| %> </p>
<div class="text-weight-bold text-center text-info"><%= f.label :name %></div>
<div class="text-weight-bold text-center"><%= f.text_field :name %></div>  
 <div class="text-weight-bold text-center text-info form-check"><%= f.label :public_deck, class: 'form-check-label' %>
 <%= f.check_box :public_deck, class: 'form-check-input ml-4'%></div> 
<div class="text-weight-bold text-center"><%= f.submit value="Submit", class: 'btn btn-outline-info mt-5' %> </div>   



<% end %>