<!DOCTYPE html>
<html>
  <head>
    <title>StudyBuddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <nav class="navbar navbar-expand-sm nav-fill navbar-light bg-light">
        <div class="container "> 
            <a class="navbar-brand" href="#">StudyBuddy</a>
              <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarnav">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarnav">
              <ul class="navbar-nav nav-fill">
                  <li class="nav-item">
                    <%= link_to "All Decks", decks_path, class: 'text-info nav-link'%>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Create a Deck", new_deck_path(@deck), class: 'text-info nav-link'%>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Home", root_path, class: 'text-info nav-link'%>
                  </li>
                  <li class="nav-item">
                    <%=link_to "Create a Flashcard", new_flashcard_path(@flashcard), class: "text-info nav-link" %> 
                  </li>
                  <li class="nav-item">
                    <%= link_to "All Flashcards", flashcards_path, class: 'text-info nav-link'%>
                  </li>
              </ul>
              <div class="pt-3 text-info form-inline ml-auto"> 
                  <%= form_tag(flashcards_path, method: :get) do %>

                  <div class= "form-inline pb-3">
                    
                    <%= text_field_tag 'search', nil, placeholder: 'Search Flashcards' %>
                    <%= submit_tag ("Search"), class: 'btn btn-outline-info ml-3' %>
                    </div>
                  <% end %>
              </div>
          </div>
        </div>
    </nav>
    <%= yield %>
  </body>
  
</html>
